fastapi
fastapi-jwt-auth
requests
geojson
uvicorn[standard]
pydantic
memoization
shapely
pandas
streamlit-echarts
asyncio
asyncpg
geojson_pydantic
geopandas
streamlit
streamlit-folium
streamlit-keplergl
here-map-widget-for-jupyter
git+git://github.com/giswqs/whitebox
git+git://github.com/giswqs/leafmap
