fastapi
fastapi-jwt-auth
requests
geojson
uvicorn[standard]
pydantic
memoization
shapely
streamlit
pandas
streamlit-echarts
asyncio
asyncpg
geojson_pydantic
geopandas
leafmap
ipyleaflet
ipyevents
ipywidgets
